*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(165deg, #00141a, #0082b6);
    padding: 0px;
    text-decoration: none;
}
.navbar{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #121e22;
      }
     .r{
        float: right;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #337a8b;
        font-size: x-large;
      }
      li {
        color: rgb(255, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: left;
        font-size: medium;
      }
      
      li a:hover {
        background-color: #111;
      }
}
.input{
  padding: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: rgba(97, 133, 139, 0.568);
  border: 1px rgb(from rgb(25, 63, 75) r g b) solid;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: large;
}
p{
  padding-top: 5px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-family:cursive,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}
button[type="submit"]
{
    padding: 10px;
    margin-left: 50px;
    background-color: rgb(48, 121, 134);
    width : 200px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border-color: #337a8b;
}
button[type="submit"]:hover{
    background-color: rgb(32, 32, 32);
}
.fun{
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  
  gap: 2em;
}
.left{
    display: block;
    background-color: #121e22ce;
    padding: 1em;
    padding-left: 1em;
    border-radius: 10%;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: 0px;
}
.right{
  display: block;
  background-color: #121e229a;
  padding: 20px;
  border-radius: 5%;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-width: 0px;
  width: 1000px;
  
}
table {
  width: 500px;
  padding: 20px;
  font-size: 20px;
  border-collapse: collapse;
}

.delete_btn{
font-size: medium;
text-decoration: none;
color: red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img{
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}
input[type=file]::file-selector-button {
  margin-left: 3em;
  border: 2px solid #6c5ce7;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
th,td{
  padding: 10px;
  padding-left: 50px;
  text-align: left;

}
.error-message {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border: 1px solid #ebccd1;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}